.container {
  border-radius: 20px;
  box-shadow: 5px 1px 100px 5px #d3d3d3;
}

.box {
  max-width: 615px;
  margin: 20px auto;
  padding: 30px;
}

.header {
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  color: aliceblue;
  padding: 15px;
  font-size: 25px;
}

.search {
  width: 260px;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  margin-right: 0;
}

.city {
  color: aliceblue;
  text-align: center;
  margin-top: 20px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 50px;
  border-radius: 20px;
}

.calendar {
  color: aliceblue;
}

#date {
  color: aliceblue;
  text-align: right;
  margin-top: 20px;
  margin-left: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 15px;
  border-radius: 20px;
}

#time{
  color: yellow;
}

.weather {
  color: aliceblue;
  text-align: right;
  font-family: "Josefin Sans", sans-serif;
  font-size: 15px;
  border-radius: 20px;
}
.date{
  color: aliceblue;
  text-align: right;
  margin-top: 20px;
  margin-left: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 15px;
  border-radius: 20px;
}
.day {
  color: aliceblue;
  display: inline;
  text-align: right;
  font-family: "Josefin Sans", sans-serif;
  padding-right: 0;
  font-size: 20px;
}

.temp-box{
  margin: 0 auto;
}

.temp {
  color: aliceblue;
  margin-right: 0;
  margin-bottom: 5px;
  margin-top: 35px;
  text-align: right;
  font-family: "Josefin Sans", sans-serif;
}

li{
  list-style: none;
}

.degrees {
  
  margin-top: 0;
  font-size: 15px;
  color: black;
}

.convert{
  margin-right: 0;
  margin-left: 0;
  color: aliceblue;
  margin-top: 0;
  text-align: center;
  font-size: 15px;
  color: black;
  padding: 20px;
  border-radius: 100px;
  box-shadow: 5px 1px 100px 30px #d3d3d3;
}

.one{
  display: inline;
  font-size: 15px;
}

#celsius {
  color: blue;
}

.fa-sun {
  color: yellow;
  padding: 0;
  margin-left: 20px;
  height: 64px;
  width: 64px;
}

.week { 
  font-family: "Josefin Sans", sans-serif;
  color: yellow;
  font-weight: bold;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 5px 1px 10px 5px #d3d3d3;
}

.day{
  font-family: "Josefin Sans", sans-serif;
  color: aliceblue;
  font-size: 20px;
}

.column-left{ float: left; width: 33.333%; }
.column-right{ float: right; width: 33.333%; }
.column-center{ display: inline-block; width: 33.333%; }

.fa-cloud-rain {
  color: cadetblue;
}

.bottom-link {
  color: yellow;
}

.btn-warning{
  margin-right: 0;
  width: 110px;
}

#current{
  margin-left: 0;
}